.App {
  text-align: center;
  font-family: 'Press Start 2P';
}

.default-answerContainer{
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'baseline';
  z-index: 100;
}
/* ANSWERS */
.defaultAnswer{
  font-size: 2em;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}
.middle{
  font-size: 1em;
}
.small{
  font-size: 0.5em;
}
/* HOVERS */
.colorful-4 {
  padding: 0px;
  color: rgba(255, 255, 255, 0.475);
  font-weight: bold;
  background: linear-gradient(#EB9F9F 0 0) center/0 100% no-repeat #000;
  -webkit-background-clip: text;
  align-items:center;
  background-clip: text;
  transition: .4s linear;
}
.colorful-4:hover {
  background-size: 100% 100%;
}

.App-header {
  background-color: #282c34;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* font-family: arturs; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.image {
  background-image:  url('../public/Prismatic-Animals-Heart.png');
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  background-size: contain;
  display: flex;
  clip-path: circle(100px at 0px 0px);
  /* clip-path: rectangle(100px at 0px 0px); */
  position: absolute;
  animation: heartbeat 2s infinite;
  z-index: 1;
  /* z-index: 0; */
}
.bgimage {
  background-image:  url('../public/Animals-Heart.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  position: absolute;
  animation: heartbeat 2s infinite;
  /* z-index: 1; */
}
@font-face {
  font-family: arturs;
  src: URL('../public/basis33.ttf') format('truetype');
}
@keyframes heartbeat
{
  0%
  {
    transform: scale( .9 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .9 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .9 );
  }
  100%
  {
    transform: scale( .9 );
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
